.js-checkbox-view {
    border: 1px solid #ccc;
}

.js-checkbox-needle-view {
    background-color: #0f0;
}

.red-box {
    background: red;
    color: white;
}

.blue-box {
    background: blue;
    color: white;
}

.green-box {
    background: green;
    color: white;
}
