body {
    overflow: hidden;
}

.js-layer-view {
    position: absolute;
}

.js-measured-view-content {
    position: absolute;
    white-space: nowrap;
}

.js-scroll-view {
    overflow: hidden;
}

.red-box {
    background: red;
    color: white;
}

.blue-box {
    background: blue;
    color: white;
}

.green-box {
    background: green;
    color: white;
}

.js-navigator-top-bar-view {
    background: #ccc;
    color: white;
}