#home{
    top: 55px;

    z-index: 50;
    @include cache;

    .move-container {
        float: left;
        position: relative;
        height: 100%;

        @include cache;

        @include mqWidth(0, 900) {
            width: 100%;
        }
    }
}

.home-item {
    float: left;
    position: relative;
    width: 33.33%;
    height: 100%;

    @include cache;

    .text {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -40px;

        font-family: 'league-gothic-condensed', 'Arial Narrow', sans-serif;
        font-weight: 400;
        font-size: 160px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -2px;
        line-height: 85px;

        &:before {
            position: absolute;
            content: 'by';
            margin-left: -37px;
            margin-top: -56px;
            font-family: 'museo-sans', Helvetica, Arial, sans-serif;
            font-weight: 100;
            font-size: 30px;
            font-style: italic;
            text-transform: none;
        }
    }

    .arrow {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;

        @include ui-asset(0, 0);

        &.front {
            margin-top: -150px;
            background-position: 0 -191px;
        }

        &.end {
            margin-top: 100px;
            background-position: -56px -191px;
        }
    }


    @include mqWidth(901, 1050) {
        .text {
            font-size: 140px;

            &:before {
                font-size: 24px;
                margin-left: -26px;
                margin-top: -52px;
            }
        }
        .arrow {
            &.front {
                margin-top: -130px;
            }

            &.end {
                margin-top: 80px;
            }
        }
    }

    @include mqWidth(0, 900) {
        width: 100%;
        height: 33.33%;

        .arrow {

            &.front {
                margin-left: -240px;
                margin-top: -25px;
                background-position: 0 -242px;
            }

            &.end {
                margin-left: 190px;
                margin-top: -25px;
                background-position: -56px -242px;
            }
        }
    }


    @include mqWidth(0, 479) {

        .text {
            font-size: 120px;

            &:before {
                font-size: 24px;
                margin-left: -26px;
                margin-top: -52px;
            }
        }

        .arrow {

            &.front {
                margin-left: -180px;
            }

            &.end {
                margin-left: 130px;
            }
        }

    }

    @include mqHeight(0, 479) {
        .text {
            font-size: 110px;

            &:before {
                font-size: 20px;
                margin-left: -26px;
                margin-top: -40px;
            }
        }

    }

}
