#location-list{
    top: 55px;

    z-index: 30;
    @include cache;

    .scroll-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .scroll-move-container {
        position: absolute;
        width: 100%;
    }

    .move-container {
        position: relative;
        float: left;
        width: 100%;

        @include cache;
    }


    .indicator {
        position: absolute;
        width: 8px;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .4);
        border-left: 1px solid rgba(255,255,255,.2);
        border-top: 1px solid rgba(255,255,255,.2);
    }

    &.search {
         .scroll-wrapper {
            top: 80px;
         }
         #location-search {
            display: block;
         }

    }
}

 #location-search {
    display: none;
    position: relative;
    width: 100%;
    float: left;
    height: 80px;
    background-color: #fff;
    z-index: 500;
    @include cache;

    input {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border: none;
        padding: 0 0;
        padding-left: 55px;
        margin: 0 0;
        margin-left: 40px;
        box-sizing: border-box;

        font-family: 'league-gothic', 'Arial Narrow', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 80px;
        color: #605b72;
        outline: none;

        @include ui-asset(184, 138);
    }

    .result {
        position: absolute;
        right: 0;
        top: 0;
        width: 170px;
        height: 100%;
        padding-left: 32px;

        font-size: 24px;
        font-style: italic;
        line-height: 80px;
        color: #c7c7c7;

        background-color: #fff;
        pointer-events: none;

        .num {
            position: absolute;
            right: 28px;
            top: 15px;
            width: 50px;
            height: 50px;
            border-radius: 30px;

            line-height: 50px;
            text-align: center;
            color: #fff;

            background-color: #c7c7c7;
        }
    }
 }

.location-list-item {
    display: none;
    float: left;
    position: relative;
    width: 100%;
    height: 80px;

    .text {
        margin-left: 47px;
        width: 100%;

        font-size: 42px;
        font-style: italic;
        letter-spacing: -2px;
        line-height: 80px;

        @media all and (max-width : 1050px) {
            font-size: 24px;
            letter-spacing: -1px;
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        right: 30px;
        width: 15px;
        height: 23px;
        margin-top: -12px;

        @include ui-asset(20, 0);
    }

    .shader-shadow {
        display: none;
        position: absolute;
        left: 0;
        right: 0;

        // border
        border-top-width: 40px;
        border-top-color: transparent;
        border-top-style: solid;
        border-bottom-width: 40px;
        border-bottom-color: rgba(0,0,0,.3);
        border-bottom-style: solid;

        pointer-events: none;
    }

    &.show {
        display: block;
    }
}
