#schedule{
    top: 55px;

    z-index: 40;
    @include cache;

    .scroll-wrapper {
        position: absolute;
        top: 90px;
        bottom: 0;
        width: 100%;
    }

    .scroll-move-container {
        position: absolute;
        width: 100%;
    }

    .move-container {
        position: relative;
        float: left;
        width: 100%;

        @include cache;
    }


    .indicator {
        position: absolute;
        width: 8px;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .4);
        border-left: 1px solid rgba(255,255,255,.2);
        border-top: 1px solid rgba(255,255,255,.2);
    }

    .tabs {
        position: absolute;
        width: 100%;
        height: 90px;

        @include cache;
        z-index: 10;

        .tab {
            position: relative;
            float: left;
            width: 50%;
            height: 90px;
            background-color: #b6b6b6;

            font-style: italic;

            color: #fff;

            @include transition(background-color .5s linear);


            .text {
                margin-left: 47px;
                font-size: 42px;
                font-weight: 300;
                line-height: 90px;

                color: #fff;

                @media all and (max-width : 603px) {
                    margin-left: 20px;
                    font-size: 22px;
                }
            }

            .triangle {
                display: none;
                position: absolute;
                left: 48px;
                bottom: 0;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid black;
                @include transition(color .5s linear);

                @media all and (max-width : 603px) {
                    left: 20px;
                    border-left-width: 8px;
                    border-right-width: 8px;
                    border-bottom-width: 8px;
                }
            }

            .num {
                position: absolute;
                font-size: 26px;
                font-weight: 300;

                right: 30px;
                top: 50%;
                width: 50px;
                height: 50px;
                margin-top: -25px;
                text-align: center;
                line-height: 50px;
                color: #b6b6b6;

                background-color: #fff;
                border-radius: 25px;

                @include transition(background-color .5s linear, color .5s linear);

                @media all and (max-width : 603px) {
                    right: 10px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    margin-top: -15px;
                    font-size: 16px;
                }

            }

            &.selected {
                background-color: #fff;

                .triangle {
                    display: block;
                }

                .text {
                    color: #b6b6b6;
                }

                .num {
                    background-color: #b6b6b6;
                    color: #fff;
                }

            }

        }

    }

}

.schedule-item {
    float: left;
    position: relative;
    width: 100%;
    height: 80px;

    &.animate {
        @include transformTransition(.3s ease-out);
    }

    .text {
        margin-left: 47px;
        margin-right: 195px;

        font-size: 42px;
        font-style: italic;
        letter-spacing: -2px;
        line-height: 80px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media all and (max-width : 603px) {
            margin-left: 20px;
            margin-right: 125px;
            font-size: 22px;
            letter-spacing: -1px;
        }
    }

    .prompt-btn {
        position: absolute;
        top: 0;
        right: 120px;
        width: 75px;

        font-size: 24px;
        font-style: italic;
        letter-spacing: -1px;
        line-height: 80px;
        color: rgba(255,255,255,.7);

        @media all and (max-width : 603px) {
            width: 50px;
            right: 82px;
            font-size: 16px;
            letter-spacing: 0px;
            text-align: center;
        }
    }

    .date {
        position: absolute;
        top: 0;
        right: 60px;
        width: 75px;

        font-size: 24px;
        font-style: italic;
        letter-spacing: -1px;
        line-height: 80px;
        color: rgba(0,0,0,.3);

        @media all and (max-width : 603px) {
            width: 60px;
            right: 24px;
            font-size: 16px;
            letter-spacing: 0px;
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        right: 30px;
        width: 15px;
        height: 23px;
        margin-top: -12px;

        @include ui-asset(20, 0);

        @media all and (max-width : 603px) {
            right: 15px;
        }
    }

    .shader-shadow {
        display: none;
        position: absolute;
        left: 0;
        right: 0;

        // border
        border-top-width: 40px;
        border-top-color: transparent;
        border-top-style: solid;
        border-bottom-width: 40px;
        border-bottom-color: rgba(0,0,0,.3);
        border-bottom-style: solid;

        pointer-events: none;
    }

    &.show {
        display: block;
    }
}
