<div id="overview" class="section">
    <div class="bg-container previous"></div>
    <div class="bg-container current"></div>
    <div class="overview-wrapper bss-vcenter">
        <div class="bss-outer">
            <div class="bss-inner">
                <div class="logo-text">{{logo-text}}</div>
                <div class="title"></div>
                <div class="description"></div>
            </div>
        </div>
    </div>
    <div class="overview-bottom">
        <div class="line"></div>
        <div class="favorites item">
            <div class="icon">
                <div class="count"></div>
            </div>
            <div class="text">{{favorites}}</div>
        </div>
        <div class="schedule item">
            <div class="icon"></div>
            <div class="text">{{schedule}}</div>
        </div>
    </div>
</div>
