<div id="schedule" class="section">
    <div class="tabs">
        <div class="events tab">
            <div class="text">{{events.title}}</div>
            <div class="num"></div>
            <div class="triangle"></div>
        </div>
        <div class="my-plans tab">
            <div class="text">{{my_plans.title}}</div>
            <div class="num"></div>
            <div class="triangle"></div>
        </div>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="scroll-move-container">
            <div class="top move-container"></div>
            <div class="bottom move-container"></div>
        </div>
        <div class="indicator"></div>
    </div>
</div>
