#header {
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: #312b34;

    z-index: 70;
    @include cache;

    .path {
        width: 2000px;
    }

    .tab {
        position: relative;
        float: left;
        height: 55px;
        padding-left: 35px;
        background-color: #37303a;

        font-size: 20px;
        font-style: italic;
        line-height: 55px;
        color: #7e6f85;

        cursor: pointer;

        @include cache;
        @include transformTransition(.3s ease-in-out, opacity .3s linear, background-color .3s linear);

        @media all and (max-width : 1050px) {
            font-size: 14px;
        }

        html.is-first-route & {
            @include transition(none);
        }

        &.tab-0:before {
            float: left;
            content : '';
            width: 32px;
            height: 32px;
            margin-top: 11px;
            margin-right: 7px;
            @include ui-asset(0, 70);
        }

        &:after {
            position: absolute;
            top: 0;
            right: -23px;
            content : '';
            width: 23px;
            height: 55px;

            @include ui-asset(40, 70);
            @include transition(opacity .3s linear);
            @include cache;

            html.is-first-route & {
                @include transition(none);
            }
        }


        &.tab-0 {
            padding-left: 14px;
            z-index: 4;
        }

        &.tab-1 {
            z-index: 3;
        }

        &.tab-2 {
            z-index: 2;
        }

        &.tab-3 {
            z-index: 1;
        }

        &.selected {
            background-color: transparent;
            background-color: rgba(126,111,133,0);
            color: #fff;

            &:after {
                opacity: 0;
            }
        }
    }

    .setting {
        position: absolute;
        right: 0;
        width: 80px;
        height: 55px;
        padding-right: 10px;
        text-align: right;
        line-height: 55px;

        z-index: 10;
        @include cache;

        background: -moz-linear-gradient(left, rgba(49,43,52,0) 0%, rgba(49,43,52,1) 18%, rgba(49,43,52,1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(49,43,52,0)), color-stop(18%,rgba(49,43,52,1)), color-stop(100%,rgba(49,43,52,1)));
        background: -webkit-linear-gradient(left, rgba(49,43,52,0) 0%,rgba(49,43,52,1) 18%,rgba(49,43,52,1) 100%);
        background: -o-linear-gradient(left, rgba(49,43,52,0) 0%,rgba(49,43,52,1) 18%,rgba(49,43,52,1) 100%);
        background: -ms-linear-gradient(left, rgba(49,43,52,0) 0%,rgba(49,43,52,1) 18%,rgba(49,43,52,1) 100%);
        background: linear-gradient(to right, rgba(49,43,52,0) 0%,rgba(49,43,52,1) 18%,rgba(49,43,52,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00312b34', endColorstr='#312b34',GradientType=1 );

        a,a:hover,a:visited, a:active {
            color: #fff;
        }
    }
}
