#preloader {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 100;
    @include cache;

    .percent-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 80px;
        margin-left: -50px;
        margin-top: -55px;

        overflow: hidden;

        .percent {
            position: absolute;
            width: 100%;
            height: 50px;
            top: 30px;

            font-family: 'league-gothic-condensed', 'Arial Narrow', sans-serif;
            font-weight: 400;
            font-size: 48px;
            text-align: center;
            line-height: 50px;
        }
    }
}
