#schedule-prompt {
    display: none;
    position: absolute;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 100%;

    font-family: 'league-gothic-condensed', 'Arial Narrow', sans-serif;
    text-transform: uppercase;

    background-color: rgba(0,0,0,.4);
    z-index: 68;

    @include cache;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 300px;
        height: 368px;
        margin-left: -150px;
        margin-top: -184px;

    }

    .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
    }

    .top {
        width: 100%;
        height: 41px;
        background-color: #d14443;
        text-align: center;

        .triangle {
            top: -50.5px;
            border-bottom: 51px solid #d14443;
        }

        .title {
            font-size: 36px;
            line-height: 36px;
            color:#e7e5e1;
            letter-spacing: 1px;

            &:before, &:after {
                content: '';
                display: inline-block;
                width: 51px;
                height: 2px;
                margin: 13px 9px;
                background-color: #da8482;
            }
        }
    }

    .content {
        width: 100%;
        height: 190px;

        background-color: #fff;

        border-bottom: 1px solid #d9d9d9;

        input, textarea {
            width: 240px;
            height: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            border: none;
            padding: 0 0;
            padding-left: 40px;
            margin: 0 0;
            margin-left: 30px;
            margin-bottom: 10px;
            box-sizing: border-box;

            font-family: 'league-gothic-condensed', 'Arial Narrow', sans-serif;
            font-size: 24px;
            line-height: 42px;
            text-transform: uppercase;
            color: #d14443;

            outline: none;
            background-color: #eaeae9;
            resize: none;
            @include ui-asset(192, -5);

            &.location{
                margin-top: 25px;
            }
            &.date{
                background-position: -192px -32px;
            }
            &.note{
                background-position: -192px -67px;
            }
        }
    }

    .bottom {
        position: relative;
        width: 100%;
        height: 114px;
        padding-top: 25px;
        background-color: #eee;

        input {
            width: 240px;
            height: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            border: none;
            padding: 0 0;
            margin: 0 0;
            margin-left: 30px;

            font-family: 'league-gothic-condensed', 'Arial Narrow', sans-serif;
            font-size: 24px;
            line-height: 42px;
            text-transform: uppercase;
            color: #fff;

            outline: none;

            &.save, &.close{
                margin-bottom: 10px;
                background-color: #d14443;
            }

            &.close  {
                display: none;
            }

            &.cancel{
                background-color: #839194;
            }
        }


        .triangle {
            bottom: -50.5px;
            border-top: 51px solid #eee;
        }

    }

    .events {
        display: none;
    }

    &.is-event {

        .wrapper {
            height: 314px;
            margin-top: -158px;
        }

        .events {
            display: block;
        }

        .my-plans {
            display: none;
        }

        .bottom {
            height: 64px;

            input.close {
                display: block;
            }
            input.save, input.cancel {
                display: none;
            }

        }
    }

}
