/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/core/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/core/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/core/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/core/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/core/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../scss/core/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/core/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes simple-spin {
  /* line 97, ../scss/core/_functions.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 98, ../scss/core/_functions.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes simple-spin {
  /* line 101, ../scss/core/_functions.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 102, ../scss/core/_functions.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes simple-spin {
  /* line 105, ../scss/core/_functions.scss */
  from {
    -ms-transform: rotate(0deg);
  }

  /* line 106, ../scss/core/_functions.scss */
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes simple-spin {
  /* line 109, ../scss/core/_functions.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 110, ../scss/core/_functions.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes simple-spin {
  /* line 113, ../scss/core/_functions.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 114, ../scss/core/_functions.scss */
  to {
    transform: rotate(360deg);
  }
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../scss/core/_base.scss */
html,
button,
input,
select,
textarea {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
}

/* line 15, ../scss/core/_base.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #191919;
  border: none;
}

/* line 24, ../scss/core/_base.scss */
body {
  font-size: 1em;
}

/* line 28, ../scss/core/_base.scss */
::-moz-selection {
  background-color: transparent;
}

/* line 32, ../scss/core/_base.scss */
::selection {
  background-color: transparent;
}

/* line 35, ../scss/core/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 44, ../scss/core/_base.scss */
img {
  vertical-align: middle;
}

/* line 48, ../scss/core/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 54, ../scss/core/_base.scss */
textarea {
  resize: vertical;
}

/* line 58, ../scss/core/_base.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 65, ../scss/core/_base.scss */
strong {
  font-weight: bold;
}

/* line 69, ../scss/core/_base.scss */
i {
  font-style: italic;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 108, ../scss/core/_base.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 115, ../scss/core/_base.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 122, ../scss/core/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 127, ../scss/core/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 139, ../scss/core/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 148, ../scss/core/_base.scss */
.invisible {
  visibility: hidden;
}

/* line 153, ../scss/core/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 158, ../scss/core/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 162, ../scss/core/_base.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 171, ../scss/core/_base.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 179, ../scss/core/_base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 183, ../scss/core/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 187, ../scss/core/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 197, ../scss/core/_base.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 202, ../scss/core/_base.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 207, ../scss/core/_base.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 212, ../scss/core/_base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 226, ../scss/core/_base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 232, ../scss/core/_base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* -- centering -- */
/* shameless clone from [https://github.com/millermedeiros/basis.css/blob/master/css/bss/rapid/center.css] */
/* vertical centering technique [http://www.jakpsatweb.cz/css/css-vertical-center-solution.html] */
/* line 4, ../scss/helpers/_center.scss */
.bss-vcenter {
  /* height of .bss-vcenter element is required */
  overflow: hidden;
  *position: relative;
  display: table;
  *display: block;
}
/* line 11, ../scss/helpers/_center.scss */
.bss-vcenter .bss-outer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  *position: absolute;
  *top: 50%;
}
/* line 19, ../scss/helpers/_center.scss */
.bss-vcenter .bss-inner {
  *position: relative;
  *top: -50%;
}

/* line 26, ../scss/helpers/_center.scss */
.bss-hcenter {
  /* width of .bss-hcenter element is required */
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 32, ../scss/helpers/_center.scss */
.bss-absmid {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
}

/* line 1, ../scss/ui/_base.scss */
#app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 8, ../scss/ui/_base.scss */
.logo-text {
  display: inline-block;
  height: 56px;
  padding: 0 23px;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 58px;
  text-transform: uppercase;
  border: 2px solid white;
}

/* line 1, ../scss/ui/_preloader.scss */
#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 9, ../scss/ui/_preloader.scss */
#preloader .percent-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 80px;
  margin-left: -50px;
  margin-top: -55px;
  overflow: hidden;
}
/* line 20, ../scss/ui/_preloader.scss */
#preloader .percent-wrapper .percent {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  line-height: 50px;
}

/* line 1, ../scss/ui/_header.scss */
#header {
  position: absolute;
  width: 100%;
  height: 55px;
  background-color: #312b34;
  z-index: 70;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 10, ../scss/ui/_header.scss */
#header .path {
  width: 2000px;
}
/* line 14, ../scss/ui/_header.scss */
#header .tab {
  position: relative;
  float: left;
  height: 55px;
  padding-left: 35px;
  background-color: #37303a;
  font-size: 20px;
  font-style: italic;
  line-height: 55px;
  color: #7e6f85;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s linear, background-color 0.3s linear;
  -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s linear, background-color 0.3s linear;
  -ms-transition: -ms-transform 0.3s ease-in-out, opacity 0.3s linear, background-color 0.3s linear;
  -o-transition: -o-transform 0.3s ease-in-out, opacity 0.3s linear, background-color 0.3s linear;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear, background-color 0.3s linear;
}
@media all and (max-width: 1050px) {
  /* line 14, ../scss/ui/_header.scss */
  #header .tab {
    font-size: 14px;
  }
}
/* line 35, ../scss/ui/_header.scss */
html.is-first-route #header .tab {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 39, ../scss/ui/_header.scss */
#header .tab.tab-0:before {
  float: left;
  content: '';
  width: 32px;
  height: 32px;
  margin-top: 11px;
  margin-right: 7px;
  background-image: url(../assets/images/ui.png);
  background-position: 0px -70px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 39, ../scss/ui/_header.scss */
  #header .tab.tab-0:before {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 49, ../scss/ui/_header.scss */
#header .tab:after {
  position: absolute;
  top: 0;
  right: -23px;
  content: '';
  width: 23px;
  height: 55px;
  background-image: url(../assets/images/ui.png);
  background-position: -40px -70px;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 49, ../scss/ui/_header.scss */
  #header .tab:after {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 61, ../scss/ui/_header.scss */
html.is-first-route #header .tab:after {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 67, ../scss/ui/_header.scss */
#header .tab.tab-0 {
  padding-left: 14px;
  z-index: 4;
}
/* line 72, ../scss/ui/_header.scss */
#header .tab.tab-1 {
  z-index: 3;
}
/* line 76, ../scss/ui/_header.scss */
#header .tab.tab-2 {
  z-index: 2;
}
/* line 80, ../scss/ui/_header.scss */
#header .tab.tab-3 {
  z-index: 1;
}
/* line 84, ../scss/ui/_header.scss */
#header .tab.selected {
  background-color: transparent;
  background-color: rgba(126, 111, 133, 0);
  color: #fff;
}
/* line 89, ../scss/ui/_header.scss */
#header .tab.selected:after {
  opacity: 0;
}
/* line 95, ../scss/ui/_header.scss */
#header .setting {
  position: absolute;
  right: 0;
  width: 80px;
  height: 55px;
  padding-right: 10px;
  text-align: right;
  line-height: 55px;
  z-index: 10;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background: -moz-linear-gradient(left, rgba(49, 43, 52, 0) 0%, #312b34 18%, #312b34 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(49, 43, 52, 0)), color-stop(18%, #312b34), color-stop(100%, #312b34));
  background: -webkit-linear-gradient(left, rgba(49, 43, 52, 0) 0%, #312b34 18%, #312b34 100%);
  background: -o-linear-gradient(left, rgba(49, 43, 52, 0) 0%, #312b34 18%, #312b34 100%);
  background: -ms-linear-gradient(left, rgba(49, 43, 52, 0) 0%, #312b34 18%, #312b34 100%);
  background: linear-gradient(to right, rgba(49, 43, 52, 0) 0%, #312b34 18%, #312b34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00312b34', endColorstr='#312b34',GradientType=1 );
}
/* line 115, ../scss/ui/_header.scss */
#header .setting a, #header .setting a:hover, #header .setting a:visited, #header .setting a:active {
  color: #fff;
}

/* line 1, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt {
  display: none;
  position: absolute;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 100%;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 250;
}
/* line 15, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
}
/* line 26, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
/* line 34, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .top {
  width: 100%;
  height: 41px;
  background-color: #d14443;
  text-align: center;
}
/* line 40, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .top .triangle {
  top: -50.5px;
  border-bottom: 51px solid #d14443;
}
/* line 45, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .top .title {
  font-size: 36px;
  line-height: 36px;
  color: #e7e5e1;
  letter-spacing: 1px;
}
/* line 51, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .top .title:before, #schedule-prompt .top .title:after {
  content: '';
  display: inline-block;
  width: 51px;
  height: 2px;
  margin: 13px 9px;
  background-color: #da8482;
}
/* line 62, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .content {
  width: 100%;
  height: 190px;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
}
/* line 70, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .content input {
  width: 240px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0 0;
  padding-left: 40px;
  margin: 0 0;
  margin-left: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
  color: #d14443;
  outline: none;
  background-color: #eaeae9;
  background-image: url(../assets/images/ui.png);
  background-position: -192px 5px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 70, ../scss/ui/_schedulePrompt.scss */
  #schedule-prompt .content input {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 95, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .content input.location {
  margin-top: 25px;
}
/* line 98, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .content input.date {
  background-position: -192px -32px;
}
/* line 101, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .content input.note {
  background-position: -192px -67px;
}
/* line 107, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .bottom {
  position: relative;
  width: 100%;
  height: 139px;
  background-color: #eee;
}
/* line 113, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .bottom input {
  width: 240px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0 0;
  margin: 0 0;
  margin-left: 30px;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
}
/* line 133, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .bottom input.save {
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: #d14443;
}
/* line 139, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .bottom input.cancel {
  background-color: #839194;
}
/* line 144, ../scss/ui/_schedulePrompt.scss */
#schedule-prompt .bottom .triangle {
  bottom: -50.5px;
  border-top: 51px solid #eeeeee;
}

/* line 1, ../scss/sections/_base.scss */
.section {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* line 1, ../scss/sections/_district.scss */
#district {
  top: 55px;
  z-index: 40;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 7, ../scss/sections/_district.scss */
.district-item {
  float: left;
  position: relative;
  width: 100%;
  height: 25%;
}

/* line 1, ../scss/sections/_home.scss */
#home {
  top: 55px;
  z-index: 50;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 8, ../scss/sections/_home.scss */
.home-item {
  float: left;
  position: relative;
  width: 33.33%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 16, ../scss/sections/_home.scss */
.home-item .text {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -40px;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 160px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 85px;
}
/* line 30, ../scss/sections/_home.scss */
.home-item .text:before {
  position: absolute;
  content: 'by';
  margin-left: -37px;
  margin-top: -56px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 30px;
  font-style: italic;
  text-transform: none;
}
/* line 43, ../scss/sections/_home.scss */
.home-item .arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background-image: url(../assets/images/ui.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 43, ../scss/sections/_home.scss */
  .home-item .arrow {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 53, ../scss/sections/_home.scss */
.home-item .arrow.front {
  margin-top: -150px;
  background-position: 0 -191px;
}
/* line 58, ../scss/sections/_home.scss */
.home-item .arrow.end {
  margin-top: 100px;
  background-position: -56px -191px;
}
/* line 66, ../scss/sections/_home.scss */
.home-item .shader-shadow {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  border-top-width: 100px;
  border-top-color: transparent;
  border-top-style: solid;
  border-bottom-width: 100px;
  border-bottom-color: red;
  border-bottom-style: solid;
  pointer-events: none;
}
@media (min-width: 901px) and (max-width: 1050px) {
  /* line 85, ../scss/sections/_home.scss */
  .home-item .text {
    font-size: 140px;
  }
  /* line 88, ../scss/sections/_home.scss */
  .home-item .text:before {
    font-size: 24px;
    margin-left: -26px;
    margin-top: -52px;
  }
  /* line 95, ../scss/sections/_home.scss */
  .home-item .arrow.front {
    margin-top: -130px;
  }
  /* line 99, ../scss/sections/_home.scss */
  .home-item .arrow.end {
    margin-top: 80px;
  }
}
@media (min-width: 0px) and (max-width: 900px) {
  /* line 8, ../scss/sections/_home.scss */
  .home-item {
    width: 100%;
    height: 33.33%;
  }
  /* line 111, ../scss/sections/_home.scss */
  .home-item .arrow.front {
    margin-left: -240px;
    margin-top: -25px;
    background-position: 0 -242px;
  }
  /* line 117, ../scss/sections/_home.scss */
  .home-item .arrow.end {
    margin-left: 190px;
    margin-top: -25px;
    background-position: -56px -242px;
  }
  /* line 124, ../scss/sections/_home.scss */
  .home-item .shader-shadow {
    left: auto;
    right: auto;
    top: 0;
    bottom: 0;
    border-top: none;
    border-bottom: none;
    border-left-width: 100px;
    border-left-color: transparent;
    border-left-style: solid;
    border-right-width: 100px;
    border-right-color: red;
    border-right-style: solid;
  }
}

/* line 1, ../scss/sections/_locationList.scss */
#location-list {
  top: 55px;
  z-index: 30;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 7, ../scss/sections/_locationList.scss */
#location-list .scroll-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* line 14, ../scss/sections/_locationList.scss */
#location-list .scroll-move-container {
  position: absolute;
  width: 100%;
}
/* line 19, ../scss/sections/_locationList.scss */
#location-list .move-container {
  position: relative;
  float: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 28, ../scss/sections/_locationList.scss */
#location-list .indicator {
  position: absolute;
  width: 8px;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 39, ../scss/sections/_locationList.scss */
#location-list.search .scroll-wrapper {
  top: 80px;
}
/* line 42, ../scss/sections/_locationList.scss */
#location-list.search #location-search {
  display: block;
}

/* line 49, ../scss/sections/_locationList.scss */
#location-search {
  display: none;
  position: relative;
  width: 100%;
  float: left;
  height: 80px;
  background-color: #fff;
  z-index: 500;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 59, ../scss/sections/_locationList.scss */
#location-search input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0 0;
  padding-left: 55px;
  margin: 0 0;
  margin-left: 40px;
  box-sizing: border-box;
  font-family: "league-gothic", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 80px;
  color: #605b72;
  outline: none;
  background-image: url(../assets/images/ui.png);
  background-position: -184px -138px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 59, ../scss/sections/_locationList.scss */
  #location-search input {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 82, ../scss/sections/_locationList.scss */
#location-search .result {
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 100%;
  padding-left: 32px;
  font-size: 24px;
  font-style: italic;
  line-height: 80px;
  color: #c7c7c7;
  background-color: #fff;
  pointer-events: none;
}
/* line 98, ../scss/sections/_locationList.scss */
#location-search .result .num {
  position: absolute;
  right: 28px;
  top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: #c7c7c7;
}

/* line 115, ../scss/sections/_locationList.scss */
.location-list-item {
  display: none;
  float: left;
  position: relative;
  width: 100%;
  height: 80px;
}
/* line 122, ../scss/sections/_locationList.scss */
.location-list-item .text {
  margin-left: 47px;
  width: 100%;
  font-size: 42px;
  font-style: italic;
  letter-spacing: -2px;
  line-height: 80px;
}
@media all and (max-width: 1050px) {
  /* line 122, ../scss/sections/_locationList.scss */
  .location-list-item .text {
    font-size: 24px;
    letter-spacing: -1px;
  }
}
/* line 137, ../scss/sections/_locationList.scss */
.location-list-item .arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 23px;
  margin-top: -12px;
  background-image: url(../assets/images/ui.png);
  background-position: -20px 0px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 137, ../scss/sections/_locationList.scss */
  .location-list-item .arrow {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 148, ../scss/sections/_locationList.scss */
.location-list-item .shader-shadow {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  border-top-width: 40px;
  border-top-color: transparent;
  border-top-style: solid;
  border-bottom-width: 40px;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-bottom-style: solid;
  pointer-events: none;
}
/* line 165, ../scss/sections/_locationList.scss */
.location-list-item.show {
  display: block;
}

/* line 1, ../scss/sections/_mood.scss */
#mood {
  top: 55px;
  z-index: 40;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 7, ../scss/sections/_mood.scss */
#mood .move-container {
  position: relative;
  float: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 16, ../scss/sections/_mood.scss */
.mood-item {
  position: relative;
  float: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 23, ../scss/sections/_mood.scss */
.mood-item .text {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -60px;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 120px;
}
@media all and (max-height: 600px) {
  /* line 23, ../scss/sections/_mood.scss */
  .mood-item .text {
    font-size: 100px;
  }
}
/* line 42, ../scss/sections/_mood.scss */
.mood-item .arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 23px;
  margin-top: -12px;
  background-image: url(../assets/images/ui.png);
  background-position: -20px 0px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 42, ../scss/sections/_mood.scss */
  .mood-item .arrow {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 53, ../scss/sections/_mood.scss */
.mood-item .shader-shadow {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  border-top-width: 40px;
  border-top-color: transparent;
  border-top-style: solid;
  border-bottom-width: 40px;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-bottom-style: solid;
  pointer-events: none;
}
/* line 70, ../scss/sections/_mood.scss */
.mood-item .num {
  position: absolute;
  font-size: 24px;
  font-style: italic;
  right: 70px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
@media all and (max-width: 1050px) {
  /* line 70, ../scss/sections/_mood.scss */
  .mood-item .num {
    right: 60px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 40px;
  }
}

/* line 1, ../scss/sections/_overview.scss */
#overview {
  top: 55px;
  z-index: 10;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 7, ../scss/sections/_overview.scss */
#overview .bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 16, ../scss/sections/_overview.scss */
#overview .arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  -ms-transform: translate3d(-100px, 0, 0);
  -o-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
/* line 29, ../scss/sections/_overview.scss */
#overview .arrow:before {
  position: absolute;
  left: 0;
  top: 15px;
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../assets/images/ui.png);
  background-position: 0px -139px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 29, ../scss/sections/_overview.scss */
  #overview .arrow:before {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 41, ../scss/sections/_overview.scss */
#overview .arrow.right {
  left: auto;
  right: 20px;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  -ms-transform: translate3d(100px, 0, 0);
  -o-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
/* line 46, ../scss/sections/_overview.scss */
#overview .arrow.right:before {
  left: auto;
  right: 0;
  background-position: -56px -139px;
}
/* line 53, ../scss/sections/_overview.scss */
#overview .arrow.show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 58, ../scss/sections/_overview.scss */
#overview .spinner-container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 72, ../scss/sections/_overview.scss */
#overview .spinner-container .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 25px;
  margin-left: -13px;
  margin-top: -13px;
  background-image: url(../assets/images/ui.png);
  background-position: -130px 0px;
  background-repeat: no-repeat;
  -webkit-animation: simple-spin 0.4s infinite linear;
  -moz-animation: simple-spin 0.4s infinite linear;
  -ms-animation: simple-spin 0.4s infinite linear;
  -o-animation: simple-spin 0.4s infinite linear;
  animation: simple-spin 0.4s infinite linear;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 72, ../scss/sections/_overview.scss */
  #overview .spinner-container .spinner {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 84, ../scss/sections/_overview.scss */
#overview .spinner-container.show {
  opacity: 1;
}

/* line 92, ../scss/sections/_overview.scss */
.overview-wrapper {
  display: none;
  position: relative;
  width: 70%;
  max-width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 106, ../scss/sections/_overview.scss */
.overview-wrapper .logo {
  display: inline-block;
  width: 161px;
  height: 64px;
  background-image: url(../assets/images/ui.png);
  background-position: 0px -136px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 106, ../scss/sections/_overview.scss */
  .overview-wrapper .logo {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 114, ../scss/sections/_overview.scss */
.overview-wrapper .title {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-style: italic;
  color: #d14543;
}
/* line 124, ../scss/sections/_overview.scss */
.overview-wrapper .description {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 80px;
}
/* line 128, ../scss/sections/_overview.scss */
.overview-wrapper .description p {
  margin-bottom: 20px;
}
/* line 135, ../scss/sections/_overview.scss */
.overview-wrapper.appear {
  display: table;
  opacity: 0;
}
/* line 139, ../scss/sections/_overview.scss */
.overview-wrapper.show {
  opacity: 1;
}
/* line 142, ../scss/sections/_overview.scss */
.overview-wrapper.hide {
  opacity: 0;
}

/* line 149, ../scss/sections/_overview.scss */
.overview-bottom {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  text-align: center;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 159, ../scss/sections/_overview.scss */
.overview-bottom .line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 2px;
  margin-left: -50px;
  background-color: #7e6f85;
}
/* line 169, ../scss/sections/_overview.scss */
.overview-bottom .item {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}
/* line 176, ../scss/sections/_overview.scss */
.overview-bottom .item .icon {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 13px;
}
/* line 184, ../scss/sections/_overview.scss */
.overview-bottom .item .text {
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
  color: #e7e5e1;
}
/* line 194, ../scss/sections/_overview.scss */
.overview-bottom .favorites .icon {
  width: 41px;
  height: 36px;
  background-image: url(../assets/images/ui.png);
  background-position: -50px -30px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 194, ../scss/sections/_overview.scss */
  .overview-bottom .favorites .icon {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 201, ../scss/sections/_overview.scss */
.overview-bottom .favorites .count {
  position: absolute;
  left: 28px;
  top: -10px;
  width: 22px;
  height: 22px;
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  line-height: 22px;
  color: #d14443;
  background-image: url(../assets/images/ui.png);
  background-position: -100px 0px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 201, ../scss/sections/_overview.scss */
  .overview-bottom .favorites .count {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 218, ../scss/sections/_overview.scss */
.overview-bottom .schedule .icon {
  width: 37px;
  height: 37px;
  background-image: url(../assets/images/ui.png);
  background-position: -100px -30px;
  background-repeat: no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 218, ../scss/sections/_overview.scss */
  .overview-bottom .schedule .icon {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 228, ../scss/sections/_overview.scss */
.overview-bottom.appear {
  display: table;
  opacity: 0;
}
/* line 232, ../scss/sections/_overview.scss */
.overview-bottom.show {
  opacity: 1;
}
/* line 235, ../scss/sections/_overview.scss */
.overview-bottom.hide {
  opacity: 0;
}

/* line 1, ../scss/sections/_splash.scss */
#splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 80;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 10, ../scss/sections/_splash.scss */
.splash-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/main_bg.jpg);
  background-size: cover;
  background-position: center center;
}
/* line 19, ../scss/sections/_splash.scss */
.splash-bg.show {
  -webkit-transition: -webkit-filter 1s linear;
}

/* line 24, ../scss/sections/_splash.scss */
.splash-headline {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 300px;
  margin-left: -150px;
  margin-bottom: 90px;
  font-size: 42px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  letter-spacing: -1px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 42, ../scss/sections/_splash.scss */
.splash-headline .text {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -ms-transition: -ms-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  -ms-transform: translate3d(0, 50px, 0);
  -o-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
/* line 46, ../scss/sections/_splash.scss */
#splash.show .splash-headline .text {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 52, ../scss/sections/_splash.scss */
.splash-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 520px;
  height: 158px;
  margin-left: -260px;
  margin-top: -79px;
  box-sizing: border-box;
  border: 10px solid white;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 140px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 142px;
  overflow: hidden;
}

/* line 73, ../scss/sections/_splash.scss */
.splash-btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 200px;
  height: 44px;
  margin-left: -100px;
  font-family: "league-gothic-condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s linear;
  -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s linear;
  -ms-transition: -ms-transform 0.3s ease-in-out, opacity 0.3s linear;
  -o-transition: -o-transform 0.3s ease-in-out, opacity 0.3s linear;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear;
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -ms-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
/* line 93, ../scss/sections/_splash.scss */
.splash-btn:before {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  top: -40px;
  width: 23px;
  height: 15px;
  margin-left: -12px;
  opacity: 0;
  background-image: url(../assets/images/ui.png);
  background-position: -40px 0px;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.4s linear;
  -moz-transition: -moz-transform 0.4s ease-in-out, opacity 0.4s linear;
  -ms-transition: -ms-transform 0.4s ease-in-out, opacity 0.4s linear;
  -o-transition: -o-transform 0.4s ease-in-out, opacity 0.4s linear;
  transition: transform 0.4s ease-in-out, opacity 0.4s linear;
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -ms-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 93, ../scss/sections/_splash.scss */
  .splash-btn:before {
    background-image: url(../assets/images/ui_x2.png);
    background-size: 225px 300px;
  }
}
/* line 110, ../scss/sections/_splash.scss */
#splash.show .splash-btn {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 114, ../scss/sections/_splash.scss */
#splash.show .splash-btn:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
