<div id="about">
    <div class="wrapper bss-vcenter">
        <div class="bss-outer">
        <div class="bss-inner">
            <div class="logo-text">{{logo_text}}</div>
            <div class="copy">{{copy}}</div>
            <div class="credits-title">{{credits_title}}</div>
            <div class="credits-copy">{{{credits_copy}}}</div>

            <div class="icons-container">
                {{#icons}}
                <a href="{{link}}" class="icon {{id}}" target="_blank">{{name}}</a>
                {{/icons}}
            </div>
        </div>
    </div>
</div>
