<div id="header">
    <div class="path">
        <div class="home"></div>
        <div class="tab-0 tab">{{home}}</div>
        <div class="tab-1 tab"></div>
        <div class="tab-2 tab"></div>
        <div class="tab-3 tab"></div>
        <!-- for debugging
        <a style="position: absolute;zindex: 1000;-webkit-transform:translateZ(0);display: inline-block;height:55px;line-height:55px;right: 68px;color:#fff" href="javascript:window.location='?bust='+Math.random()">Refresh</a>
         -->
        <div class="about"></div>
    </div>
</div>
