<div id="schedule-prompt">
    <div class="wrapper">
        <form class="schedule-form">
            <div class="top">
                <div class="triangle"></div>
                <span class="title">{{title}}</span>
            </div>
            <div class="content">
                <input type="text" class="location" value="Walt Disney Concert Hall" readonly>
                <input type="text" class="date" value="2013-05-17" readonly>
                <!--<input type="date" class="date" value="2013-05-17">-->
                <input type="text" class="note" placeholder="{{default_note}}">
            </div>
            <div class="bottom">
                <input type="submit" class="save" value="{{save}}">
                <input type="button" class="cancel" value="{{cancel}}">
                <div class="triangle"></div>
            </div>
        </form>
    </div>
</div>
